server:
  port: 8087
  servlet:
    context-path: /api

spring:
  application:
    name: bip

  profiles:
    active: dev

  datasource:
    url: jdbc:postgresql://localhost:5432/bip_db
    username: bip-user
    password: strong_bip_pass1524
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml

  data:
    redis:
      host: localhost
      port: 6379
      database: 0
      timeout: 2000

  session:
    store-type: redis
    redis:
      namespace: bip:session
      flush-mode: on_save

  kafka:
    bootstrap-servers: localhost:9092

    consumer:
      group-id: bip-consumers
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      properties:
        spring.json.trusted.packages: "*"

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    properties:
      spring.json.add.type.headers: false

  jackson:
    serialization:
      write-dates-as-timestamps: false

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://keycloak:8080/realms/bip/protocol/openid-connect/certs

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,env,loggers,threaddump,httpexchanges
  endpoint:
    health:
      show-details: when_authorized

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.springframework.kafka: DEBUG
    org.springframework.messaging: DEBUG
    org.springframework.data.redis: DEBUG
    org.springframework.web.socket: DEBUG
    liquibase: DEBUG
    # org.hibernate.SQL: DEBUG
    # org.hibernate.type.descriptor.sql.BasicBinder: TRACE
